
  .title-list{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 247, 248);
    color: rgb(56, 53, 53);
    width: 25rem;
    height: 38rem;   
  }
  
  .context-title {
    text-align: left;
    width:15rem;
    margin: 10px;
    width: 15rem; 
  }

  .context-input{  
    text-align:start;
    margin-top: 10px;
    padding-top: 10px;
    width:15rem;
    margin: 10px;
    width: 22rem;
    height: 35rem;  
  }

  .subnote-button{
    background-color: rgb(62, 67, 77);  
    color: white;
    border: none;
    font: inherit;
    cursor: pointer;
    height: 20px;
    width: 150px;
    margin-top: 5px;
    margin: 10px;
  }

  
 