
  .title-list{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 213);
    color: rgb(56, 53, 53);
    width: 25rem;
    height: 38rem;
  }

  .context-title {
    text-align: left;
    margin: 10px;
    width: 22rem;
    height: 1.4rem;

  }

  .context-input{
    text-align:start;
    margin: 10px;
    font-family: Monaco, sans-serif;
    width: 22rem;
    height: 35rem;
  }

  .subnote-button{
    background-color: rgb(45, 86, 103);
    color: white;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    height: 20px;
    width: 150px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 8rem;
  }


