<p>note-list-comp</p>
<div class="title-list">

  @if (note) {
    <div>
      <button class="subnote-button">+ New Subtitle</button>
      <div>
        <input 
          class="subtitle-input"
          placeholder="Enter Subtitle"
          [formControl]="subtitleConrol">
      </div > 
      <div *ngFor="let subNote of note.subNotes">
        <button class="list-button" (click)="onSubNoteClick(subNote)" >{{subNote.subtitle}}</button>

      </div>
      
             


    </div>
  }
</div>
