
.title-list{
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 222, 222);
  color: rgb(56, 53, 53);
  width: 25rem;
  height: 38rem;
 
}
.subnote-button{
  background-color: rgb(62, 67, 77);  
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  height: 20px;
  width: 150px;
  margin-top: 5px;
}
.subtitle-input{  
  text-align: left;
  width:15rem;
  margin: 10px;
  width: 22rem;  
  }

.list-button{ 
  background-color: rgba(98, 95, 93, 0.478);
  color: white; 
  border: none;
  font: inherit;
  cursor: pointer;
  width: 18rem;
  text-align: left;
  margin: 5px;
  }
  .delete-button{    
    background-color: rgba(125, 6, 97, 0.478);
    color: white; 
    border: none;
    font: inherit;
    cursor: pointer;
    width: 4rem;
    text-align: left;
    margin: 5px;
    }